<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="icon" href="../public/images/topIcon.png" type="image/icon">
    <title>eTicket</title>
</head>
<body>
    <header>
        <a href="/">
            <div class="titleImg">
                <img src="../public/images/ticket-icon.png">
                <h1 class="header-title">eTicket</h1>
            </div>
        </a>
        <div class="navBar">
            <a href="/"><div>Home</div></a>
            <a href="/form" class="selectedNav"><div>New ticket</div></a>
            <%if(!isAuthenticated) {%>
                <div class="not-logged-user"><a href="/login"><div>Log In</div></a></div>
            <%} else { %>
                <a href="/logout" class="logged-user"><div class="user-div"><%=user.name%><img class="userLogo" src="../public/images/user.png" alt="logoUser"></div></a>
            <% } %>
        </div>
    </header>
    <main>
        <%if(image==null){%>
        <div class="ticketForm-container">
            <div>
                <img src="../public/images/new.png" alt="QR code" width="100px">
                <h2>New ticket</h2>
            </div>
            <p>To generate a new ticket, please complete this form.</p>
            <form class="ticketForm" action="/form" method="post">
                <div>
                    <label for="vatin">OIB of a person or company</label>
                    <input type="text" id="vatin" placeholder="Enter OIB of a person or company" name="vatin">
                </div>
                <div>
                    <label for="firstName">First name</label>
                    <input type="text" id="firstName" placeholder="Enter your first name" name="firstName">
                </div>
                <div>
                    <label for="lastName">Last name</label>
                    <input type="text" id="lastName" placeholder="Enter your last name" name="lastName">
                </div>   
                <button class="btn-new btnNew" type="submit"><p>Generate</p></button>
            </form>
        </div>
        <%} else {%>
            <div class="ticketForm-container">
                <div>
                    <h2>Here is your ticket ;)</h2>
                    <img src="<%=image%>" alt="QR code" width="300px">
                    <h3 class="uuid-text">UUID: <%=id_ticket%></h3>
                </div>
            </div>
        <%}%>
    </main>
    <footer>
        <p>Dominik Đurinić</p>
        <div class="titleImg">
            <img src="../public/images/ticket-icon.png">
            <h1 class="header-title">eTicket</h1>
        </div>
        <p>Zagreb, 2024</p>
    </footer>
</body>
</html>