<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="icon" href="../public/images/topIcon.png" type="image/icon">
    <title>eTicket</title>
</head>
<body>
    <header>
        <a href="/">
            <div class="titleImg">
                <img src="../public/images/ticket-icon.png">
                <h1 class="header-title">eTicket</h1>
            </div>
        </a>
        <div class="navBar">
            <a href="/" ><div>Home</div></a>
            <a href="/form"><div class="selectedNav">New ticket</div></a>
            <a href="/ticket-details"><div>Log In</div></a>
        </div>
    </header>
    <main>
        <div class="ticketForm-container">
            <div>
                <h2>It's your ticket ;)</h2>
                <img src="<%=image%>" alt="QR code" width="300px">
                <h3 class="uuid-text">UUID: <%=id_ticket%></h3>
            </div>
        </div>
    </main>
    <footer>
        <p>Dominik Đurinić</p>
        <div class="titleImg">
            <img src="../public/images/ticket-icon.png">
            <h1 class="header-title">eTicket</h1>
        </div>
        <p>Zagreb, 2024</p>
    </footer>
</body>
</html>