<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="icon" href="../public/images/topIcon.png" type="image/icon">
    <title>eTicket</title>
</head>
<body>
    <header>
        <a href="/">
            <div class="titleImg">
                <img src="../public/images/ticket-icon.png">
                <h1 class="header-title">eTicket</h1>
            </div>
        </a>
        <div class="navBar <%= !isAuthenticated ? 'navBar-pad':''%>">
            <a href="/" class="selectedNav"><div>Home</div></a>
            <a href="/form"><div>New ticket</div></a>
            <%if(!isAuthenticated) {%>
                <a href="/login"><div class="not-logged-user">Log In</div></a>
            <%} else { %>
                <a href="/logout" class="logged-user"><div class="user-div"><div><%=user.name%></div><img class="userLogo" src="../public/images/user.png" alt="logoUser"></div><p>Log Out</p></a>
            <% } %>
        </div>
    </header>
    <main>
        
        <div class="btn-num-container">
            <h1>Welcome to ONLINE Ticket SHOP!</h1>
            <div class="numTicket-container">
                <h2>Number of generated tickets: </h2>
                <div class="numTicket-div"><h1><%=num_tickets %></h1></div>
                <p>Last update: <%=update%></p>
            </div>
            
            <h3>Get started with generating a new ticket!</h3>
        </div>
        <a href="/form" class="btnStart"><div class="btn-start"><h3>GET new ticket</h3></div></a>
    </main>
    
    <footer>
        <p>Dominik Đurinić</p>
        <div class="titleImg">
            <img src="../public/images/ticket-icon.png">
            <h1 class="header-title">eTicket</h1>
        </div>
        <p>Zagreb, 2024</p>
    </footer>
</body>
</html>